$red-5: #f44336;
$red-1: #ffcdd2;
$red-2: #ef9a9a;
$red-3: #e57373;
$red-4: #ef5350;
$red-5: #f44336;
$red-6: #e53935;
$red-7: #d32f2f;
$red-8: #c62828;
$red-9: #b71c1c;
$red-A1: #ff8a80;
$red-A2: #ff5252;
$red-A4: #ff1744;
$red-A7: #d50000;
$pink-5: #e91e63;
$pink-1: #f8bbd0;
$pink-2: #f48fb1;
$pink-3: #f06292;
$pink-4: #ec407a;
$pink-5: #e91e63;
$pink-6: #d81b60;
$pink-7: #c2185b;
$pink-8: #ad1457;
$pink-9: #880e4f;
$pink-A1: #ff80ab;
$pink-A2: #ff4081;
$pink-A4: #f50057;
$pink-A7: #c51162;
$purple-5: #9c27b0;
$purple-1: #e1bee7;
$purple-2: #ce93d8;
$purple-3: #ba68c8;
$purple-4: #ab47bc;
$purple-5: #9c27b0;
$purple-6: #8e24aa;
$purple-7: #7b1fa2;
$purple-8: #6a1b9a;
$purple-9: #4a148c;
$purple-A1: #ea80fc;
$purple-A2: #e040fb;
$purple-A4: #d500f9;
$purple-A7: #aa00ff;
$deepPurple-5: #673ab7;
$deepPurple-1: #d1c4e9;
$deepPurple-2: #b39ddb;
$deepPurple-3: #9575cd;
$deepPurple-4: #7e57c2;
$deepPurple-5: #673ab7;
$deepPurple-6: #5e35b1;
$deepPurple-7: #512da8;
$deepPurple-8: #4527a0;
$deepPurple-9: #311b92;
$deepPurple-A1: #b388ff;
$deepPurple-A2: #7c4dff;
$deepPurple-A4: #651fff;
$deepPurple-A7: #6200ea;
$indigo-5: #3f51b5;
$indigo-1: #c5cae9;
$indigo-2: #9fa8da;
$indigo-3: #7986cb;
$indigo-4: #5c6bc0;
$indigo-5: #3f51b5;
$indigo-6: #3949ab;
$indigo-7: #303f9f;
$indigo-8: #283593;
$indigo-9: #1a237e;
$indigo-A1: #8c9eff;
$indigo-A2: #536dfe;
$indigo-A4: #3d5afe;
$indigo-A7: #304ffe;
$blue-5: #2196f3;
$blue-1: #bbdefb;
$blue-2: #90caf9;
$blue-3: #64b5f6;
$blue-4: #42a5f5;
$blue-5: #2196f3;
$blue-6: #1e88e5;
$blue-7: #1976d2;
$blue-8: #1565c0;
$blue-9: #0d47a1;
$blue-A1: #82b1ff;
$blue-A2: #448aff;
$blue-A4: #2979ff;
$blue-A7: #2962ff;
$lightBlue-5: #03a9f4;
$lightBlue-1: #b3e5fc;
$lightBlue-2: #81d4fa;
$lightBlue-3: #4fc3f7;
$lightBlue-4: #29b6f6;
$lightBlue-5: #03a9f4;
$lightBlue-6: #039be5;
$lightBlue-7: #0288d1;
$lightBlue-8: #0277bd;
$lightBlue-9: #01579b;
$lightBlue-A1: #80d8ff;
$lightBlue-A2: #40c4ff;
$lightBlue-A4: #00b0ff;
$lightBlue-A7: #0091ea;
$cyan-5: #00bcd4;
$cyan-1: #b2ebf2;
$cyan-2: #80deea;
$cyan-3: #4dd0e1;
$cyan-4: #26c6da;
$cyan-5: #00bcd4;
$cyan-6: #00acc1;
$cyan-7: #0097a7;
$cyan-8: #00838f;
$cyan-9: #006064;
$cyan-A1: #84ffff;
$cyan-A2: #18ffff;
$cyan-A4: #00e5ff;
$cyan-A7: #00b8d4;
$teal-5: #009688;
$teal-1: #b2dfdb;
$teal-2: #80cbc4;
$teal-3: #4db6ac;
$teal-4: #26a69a;
$teal-5: #009688;
$teal-6: #00897b;
$teal-7: #00796b;
$teal-8: #00695c;
$teal-9: #004d40;
$teal-A1: #a7ffeb;
$teal-A2: #64ffda;
$teal-A4: #1de9b6;
$teal-A7: #00bfa5;
$green-5: #4caf50;
$green-1: #c8e6c9;
$green-2: #a5d6a7;
$green-3: #81c784;
$green-4: #66bb6a;
$green-5: #4caf50;
$green-6: #43a047;
$green-7: #388e3c;
$green-8: #2e7d32;
$green-9: #1b5e20;
$green-A1: #b9f6ca;
$green-A2: #69f0ae;
$green-A4: #00e676;
$green-A7: #00c853;
$lightGreen-5: #8bc34a;
$lightGreen-1: #dcedc8;
$lightGreen-2: #c5e1a5;
$lightGreen-3: #aed581;
$lightGreen-4: #9ccc65;
$lightGreen-5: #8bc34a;
$lightGreen-6: #7cb342;
$lightGreen-7: #689f38;
$lightGreen-8: #558b2f;
$lightGreen-9: #33691e;
$lightGreen-A1: #ccff90;
$lightGreen-A2: #b2ff59;
$lightGreen-A4: #76ff03;
$lightGreen-A7: #64dd17;
$lime-5: #cddc39;
$lime-1: #f0f4c3;
$lime-2: #e6ee9c;
$lime-3: #dce775;
$lime-4: #d4e157;
$lime-5: #cddc39;
$lime-6: #c0ca33;
$lime-7: #afb42b;
$lime-8: #9e9d24;
$lime-9: #827717;
$lime-A1: #f4ff81;
$lime-A2: #eeff41;
$lime-A4: #c6ff00;
$lime-A7: #aeea00;
$yellow-5: #ffeb3b;
$yellow-1: #fff9c4;
$yellow-2: #fff59d;
$yellow-3: #fff176;
$yellow-4: #ffee58;
$yellow-5: #ffeb3b;
$yellow-6: #fdd835;
$yellow-7: #fbc02d;
$yellow-8: #f9a825;
$yellow-9: #f57f17;
$yellow-A1: #ffff8d;
$yellow-A2: #ffff00;
$yellow-A4: #ffea00;
$yellow-A7: #ffd600;
$amber-5: #ffc107;
$amber-1: #ffecb3;
$amber-2: #ffe082;
$amber-3: #ffd54f;
$amber-4: #ffca28;
$amber-5: #ffc107;
$amber-6: #ffb300;
$amber-7: #ffa000;
$amber-8: #ff8f00;
$amber-9: #ff6f00;
$amber-A1: #ffe57f;
$amber-A2: #ffd740;
$amber-A4: #ffc400;
$amber-A7: #ffab00;
$orange-5: #ff9800;
$orange-1: #ffe0b2;
$orange-2: #ffcc80;
$orange-3: #ffb74d;
$orange-4: #ffa726;
$orange-5: #ff9800;
$orange-6: #fb8c00;
$orange-7: #f57c00;
$orange-8: #ef6c00;
$orange-9: #e65100;
$orange-A1: #ffd180;
$orange-A2: #ffab40;
$orange-A4: #ff9100;
$orange-A7: #ff6d00;
$deepOrange-5: #ff5722;
$deepOrange-1: #ffccbc;
$deepOrange-2: #ffab91;
$deepOrange-3: #ff8a65;
$deepOrange-4: #ff7043;
$deepOrange-5: #ff5722;
$deepOrange-6: #f4511e;
$deepOrange-7: #e64a19;
$deepOrange-8: #d84315;
$deepOrange-9: #bf360c;
$deepOrange-A1: #ff9e80;
$deepOrange-A2: #ff6e40;
$deepOrange-A4: #ff3d00;
$deepOrange-A7: #dd2c00;
$brown-5: #795548;
$brown-1: #d7ccc8;
$brown-2: #bcaaa4;
$brown-3: #a1887f;
$brown-4: #8d6e63;
$brown-5: #795548;
$brown-6: #6d4c41;
$brown-7: #5d4037;
$brown-8: #4e342e;
$brown-9: #3e2723;
$grey-5: #9e9e9e;
$grey-1: #f5f5f5;
$grey-2: #eeeeee;
$grey-3: #e0e0e0;
$grey-4: #bdbdbd;
$grey-5: #9e9e9e;
$grey-6: #757575;
$grey-7: #616161;
$grey-8: #424242;
$grey-9: #212121;
$blueGrey-5: #607d8b;
$blueGrey-1: #cfd8dc;
$blueGrey-2: #b0bec5;
$blueGrey-3: #90a4ae;
$blueGrey-4: #78909c;
$blueGrey-5: #607d8b;
$blueGrey-6: #546e7a;
$blueGrey-7: #455a64;
$blueGrey-8: #37474f;
$blueGrey-9: #263238;
:export {
	red-5: $red-5;
	red-1: $red-1;
	red-2: $red-2;
	red-3: $red-3;
	red-4: $red-4;
	red-5: $red-5;
	red-6: $red-6;
	red-7: $red-7;
	red-8: $red-8;
	red-9: $red-9;
	red-A1: $red-A1;
	red-A2: $red-A2;
	red-A4: $red-A4;
	red-A7: $red-A7;
	pink-5: $pink-5;
	pink-1: $pink-1;
	pink-2: $pink-2;
	pink-3: $pink-3;
	pink-4: $pink-4;
	pink-5: $pink-5;
	pink-6: $pink-6;
	pink-7: $pink-7;
	pink-8: $pink-8;
	pink-9: $pink-9;
	pink-A1: $pink-A1;
	pink-A2: $pink-A2;
	pink-A4: $pink-A4;
	pink-A7: $pink-A7;
	purple-5: $purple-5;
	purple-1: $purple-1;
	purple-2: $purple-2;
	purple-3: $purple-3;
	purple-4: $purple-4;
	purple-5: $purple-5;
	purple-6: $purple-6;
	purple-7: $purple-7;
	purple-8: $purple-8;
	purple-9: $purple-9;
	purple-A1: $purple-A1;
	purple-A2: $purple-A2;
	purple-A4: $purple-A4;
	purple-A7: $purple-A7;
	deepPurple-5: $deepPurple-5;
	deepPurple-1: $deepPurple-1;
	deepPurple-2: $deepPurple-2;
	deepPurple-3: $deepPurple-3;
	deepPurple-4: $deepPurple-4;
	deepPurple-5: $deepPurple-5;
	deepPurple-6: $deepPurple-6;
	deepPurple-7: $deepPurple-7;
	deepPurple-8: $deepPurple-8;
	deepPurple-9: $deepPurple-9;
	deepPurple-A1: $deepPurple-A1;
	deepPurple-A2: $deepPurple-A2;
	deepPurple-A4: $deepPurple-A4;
	deepPurple-A7: $deepPurple-A7;
	indigo-5: $indigo-5;
	indigo-1: $indigo-1;
	indigo-2: $indigo-2;
	indigo-3: $indigo-3;
	indigo-4: $indigo-4;
	indigo-5: $indigo-5;
	indigo-6: $indigo-6;
	indigo-7: $indigo-7;
	indigo-8: $indigo-8;
	indigo-9: $indigo-9;
	indigo-A1: $indigo-A1;
	indigo-A2: $indigo-A2;
	indigo-A4: $indigo-A4;
	indigo-A7: $indigo-A7;
	blue-5: $blue-5;
	blue-1: $blue-1;
	blue-2: $blue-2;
	blue-3: $blue-3;
	blue-4: $blue-4;
	blue-5: $blue-5;
	blue-6: $blue-6;
	blue-7: $blue-7;
	blue-8: $blue-8;
	blue-9: $blue-9;
	blue-A1: $blue-A1;
	blue-A2: $blue-A2;
	blue-A4: $blue-A4;
	blue-A7: $blue-A7;
	lightBlue-5: $lightBlue-5;
	lightBlue-1: $lightBlue-1;
	lightBlue-2: $lightBlue-2;
	lightBlue-3: $lightBlue-3;
	lightBlue-4: $lightBlue-4;
	lightBlue-5: $lightBlue-5;
	lightBlue-6: $lightBlue-6;
	lightBlue-7: $lightBlue-7;
	lightBlue-8: $lightBlue-8;
	lightBlue-9: $lightBlue-9;
	lightBlue-A1: $lightBlue-A1;
	lightBlue-A2: $lightBlue-A2;
	lightBlue-A4: $lightBlue-A4;
	lightBlue-A7: $lightBlue-A7;
	cyan-5: $cyan-5;
	cyan-1: $cyan-1;
	cyan-2: $cyan-2;
	cyan-3: $cyan-3;
	cyan-4: $cyan-4;
	cyan-5: $cyan-5;
	cyan-6: $cyan-6;
	cyan-7: $cyan-7;
	cyan-8: $cyan-8;
	cyan-9: $cyan-9;
	cyan-A1: $cyan-A1;
	cyan-A2: $cyan-A2;
	cyan-A4: $cyan-A4;
	cyan-A7: $cyan-A7;
	teal-5: $teal-5;
	teal-1: $teal-1;
	teal-2: $teal-2;
	teal-3: $teal-3;
	teal-4: $teal-4;
	teal-5: $teal-5;
	teal-6: $teal-6;
	teal-7: $teal-7;
	teal-8: $teal-8;
	teal-9: $teal-9;
	teal-A1: $teal-A1;
	teal-A2: $teal-A2;
	teal-A4: $teal-A4;
	teal-A7: $teal-A7;
	green-5: $green-5;
	green-1: $green-1;
	green-2: $green-2;
	green-3: $green-3;
	green-4: $green-4;
	green-5: $green-5;
	green-6: $green-6;
	green-7: $green-7;
	green-8: $green-8;
	green-9: $green-9;
	green-A1: $green-A1;
	green-A2: $green-A2;
	green-A4: $green-A4;
	green-A7: $green-A7;
	lightGreen-5: $lightGreen-5;
	lightGreen-1: $lightGreen-1;
	lightGreen-2: $lightGreen-2;
	lightGreen-3: $lightGreen-3;
	lightGreen-4: $lightGreen-4;
	lightGreen-5: $lightGreen-5;
	lightGreen-6: $lightGreen-6;
	lightGreen-7: $lightGreen-7;
	lightGreen-8: $lightGreen-8;
	lightGreen-9: $lightGreen-9;
	lightGreen-A1: $lightGreen-A1;
	lightGreen-A2: $lightGreen-A2;
	lightGreen-A4: $lightGreen-A4;
	lightGreen-A7: $lightGreen-A7;
	lime-5: $lime-5;
	lime-1: $lime-1;
	lime-2: $lime-2;
	lime-3: $lime-3;
	lime-4: $lime-4;
	lime-5: $lime-5;
	lime-6: $lime-6;
	lime-7: $lime-7;
	lime-8: $lime-8;
	lime-9: $lime-9;
	lime-A1: $lime-A1;
	lime-A2: $lime-A2;
	lime-A4: $lime-A4;
	lime-A7: $lime-A7;
	yellow-5: $yellow-5;
	yellow-1: $yellow-1;
	yellow-2: $yellow-2;
	yellow-3: $yellow-3;
	yellow-4: $yellow-4;
	yellow-5: $yellow-5;
	yellow-6: $yellow-6;
	yellow-7: $yellow-7;
	yellow-8: $yellow-8;
	yellow-9: $yellow-9;
	yellow-A1: $yellow-A1;
	yellow-A2: $yellow-A2;
	yellow-A4: $yellow-A4;
	yellow-A7: $yellow-A7;
	amber-5: $amber-5;
	amber-1: $amber-1;
	amber-2: $amber-2;
	amber-3: $amber-3;
	amber-4: $amber-4;
	amber-5: $amber-5;
	amber-6: $amber-6;
	amber-7: $amber-7;
	amber-8: $amber-8;
	amber-9: $amber-9;
	amber-A1: $amber-A1;
	amber-A2: $amber-A2;
	amber-A4: $amber-A4;
	amber-A7: $amber-A7;
	orange-5: $orange-5;
	orange-1: $orange-1;
	orange-2: $orange-2;
	orange-3: $orange-3;
	orange-4: $orange-4;
	orange-5: $orange-5;
	orange-6: $orange-6;
	orange-7: $orange-7;
	orange-8: $orange-8;
	orange-9: $orange-9;
	orange-A1: $orange-A1;
	orange-A2: $orange-A2;
	orange-A4: $orange-A4;
	orange-A7: $orange-A7;
	deepOrange-5: $deepOrange-5;
	deepOrange-1: $deepOrange-1;
	deepOrange-2: $deepOrange-2;
	deepOrange-3: $deepOrange-3;
	deepOrange-4: $deepOrange-4;
	deepOrange-5: $deepOrange-5;
	deepOrange-6: $deepOrange-6;
	deepOrange-7: $deepOrange-7;
	deepOrange-8: $deepOrange-8;
	deepOrange-9: $deepOrange-9;
	deepOrange-A1: $deepOrange-A1;
	deepOrange-A2: $deepOrange-A2;
	deepOrange-A4: $deepOrange-A4;
	deepOrange-A7: $deepOrange-A7;
	brown-5: $brown-5;
	brown-1: $brown-1;
	brown-2: $brown-2;
	brown-3: $brown-3;
	brown-4: $brown-4;
	brown-5: $brown-5;
	brown-6: $brown-6;
	brown-7: $brown-7;
	brown-8: $brown-8;
	brown-9: $brown-9;
	grey-5: $grey-5;
	grey-1: $grey-1;
	grey-2: $grey-2;
	grey-3: $grey-3;
	grey-4: $grey-4;
	grey-5: $grey-5;
	grey-6: $grey-6;
	grey-7: $grey-7;
	grey-8: $grey-8;
	grey-9: $grey-9;
	blueGrey-5: $blueGrey-5;
	blueGrey-1: $blueGrey-1;
	blueGrey-2: $blueGrey-2;
	blueGrey-3: $blueGrey-3;
	blueGrey-4: $blueGrey-4;
	blueGrey-5: $blueGrey-5;
	blueGrey-6: $blueGrey-6;
	blueGrey-7: $blueGrey-7;
	blueGrey-8: $blueGrey-8;
	blueGrey-9: $blueGrey-9;

}