.full-width {
  width: 100%;
}
table.asw-data-table {
  text-align: left;
  th{
    background: #EFEFEF;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0.5em 1em;
    .sort-icon {
      cursor: pointer;
      opacity: 0.3;
    }
    .sort-icon:hover {
      opacity: 1;
    }
  }
  td {
    font-size: 1em;
    padding: 0.5em 1em;
    opacity: 0.8;
  }
}
table.asw-data-table.border-h {
    tr {
      border-bottom: 1px solid #655b5b3d;
      border-top: 1px solid #655b5b3d;
    }
  }
table.asw-data-table.border-v {
    border-right: 1px solid #655b5b3d;
    th,td {
      border-left: 1px solid #655b5b3d;
    }
  }
table.asw-data-table tbody {
  tr {
    background: #f7f7f7;
  }
  tr:hover {
    background: #f7f7f788;
  }
}