/* color var's */
:root {
  --primary-color: #007bff;
  --secondary-color: #8e8e8e;
  --success-color: #31a745;
  --warning-color: #dcc934b7;
  --alert-color: #ff2b2b;
  --info-color: #10acff;
  --dark-color: #444444;
  --light-color: #ffffff;
  --default-color: #6c757d;
  --modal-background: #00000054;
}

// global css
body,
html {
  font-family: Montserrat;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light-color);
}
*:focus {
  outline: none;
  box-sizing: border-box;
}

// color of text
.dark {
  color: var(--light-color);
}
.light {
  color: var(--dark-color);
}

/* for text */
.fxxs {
  font-size: 0.5rem !important;
}
.fxs {
  font-size: 0.65rem !important;
}
.fs {
  font-size: 0.85rem !important;
}
.fn {
  font-size: 1rem !important;
}
.fl {
  font-size: 1.25rem !important;
}
.fxl {
  font-size: 1.5rem !important;
}
.fxxl {
  font-size: 1.75rem !important;
}

/* text color */
.c-primary {
  color: var(--primary-color) !important;
}
.c-secondary {
  color: var(--secondary-color) !important;
}
.c-success {
  color: var(--success-color) !important;
}
.c-warning {
  color: var(--warning-color) !important;
}
.c-alert {
  color: var(--alert-color) !important;
}
.c-info {
  color: var(--info-color) !important;
}
.c-dark {
  color: var(--dark-color) !important;
}
.c-light {
  color: var(--light-color) !important;
}
.c-default {
  color: var(--default-color) !important;
}
/* background color */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-success {
  background-color: var(--success-color) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-alert {
  background-color: var(--alert-color) !important;
}
.bg-info {
  background-color: var(--info-color) !important;
}
.bg-dark {
  background-color: var(--dark-color) !important;
}
.bg-light {
  background-color: var(--light-color) !important;
}

/* font style */
.bold {
  font-style: bold;
}
.italic {
  font-style: italic;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.no-dec {
  text-decoration: none;
}
/* height */
.h-fvh {
  height: 100%;
}
.h-fper {
  height: 100%;
}
/* padding margin */
.np {
  padding: 0rem !important;
}
.nm {
  margin: 0rem !important;
}

/* flex box */
.align {
  display: flex;
  flex-wrap: wrap;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.j-c {
  justify-content: center;
}
.j-l {
  justify-content: left;
}
.j-r {
  justify-content: right;
}
.j-sb {
  justify-content: space-between;
}
.j-se {
  justify-content: space-evenly;
}
.j-sa {
  justify-content: space-around;
}
.item-align-center {
  align-items: center;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}

