div#wt_tooltip {
  background: #ffffff;
  border: 1px solid #989898;
  box-shadow: -1px -1px 5px #a7a7a7;
  font-size: 12px;
  border-radius: 5px;
  z-index: 99999;
}
.asw-tooltip-msg {
  padding: 5px;
  color: #5a5858;
  background-color: #a7a7a7;
}